<div fxLayout="column" fxFlexFill class="combination-container pt-20">
  <div>
    <mat-form-field>
      <mat-label>{{'Process_Settings.Plant' | translate}}</mat-label>
      <mat-select placeholder="{{'Process_Settings.Plant' | translate}}" [(value)]="site" (selectionChange)="onSelectionChangeSite($event.value)">
        <mat-option *ngFor="let site of siteList" [value]="site">
          {{site.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'Process_Settings.Functional_Location' | translate}}</mat-label>
      <mat-select placeholder="{{'Process_Settings.Functional_Location' | translate}}" [(value)]="functionalLocation" (selectionChange)="onSelectionChangeFunctionalLocation($event.value)">
        <mat-option *ngFor="let functionalLocation of functionalLocationList" [value]="functionalLocation">
          {{functionalLocation.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
   
  </div>    
  <div>
    <table mat-table [dataSource]="combinationDataSource" class="full-width" fixedLayout="true">
      <ng-container *ngFor="let columnName of combinationDisplayedColumns;" matColumnDef="{{columnName}}">
        <th mat-header-cell *matHeaderCellDef>
          {{(columnName == 'machine' || columnName == 'action') ? ('Process_Settings.'+(columnName | titlecase) | translate) : (columnName | titlecase)}} </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="columnName !== 'action'; else action">{{element[columnName]}}</span>
          <ng-template #action>
            <span>
              <button mat-raised-button color="primary" class="btn-reference" (click)="showCombinationReference(element.combinationId)">
                {{'Process_Settings.Reference' | translate}}
              </button>
          </span>
          </ng-template>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="combinationDisplayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: combinationDisplayedColumns;"></tr>
    </table>
  </div>        
</div>