.combination-container {
    .mat-form-field {
        padding: 0 1em;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
    table {
        th, td {
            text-align: center !important;
        }
        th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
            padding-left: 0;
        }
        th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
            padding-right: 0; 
        }
        th.mat-header-cell {
            border-top-color: transparent;
        }
    }
    :host ::ng-deep .mat-form-field-wrapper{
        padding: 0;
    }
    .btn-reference {
        font-size: 10px;
        line-height: 23px;
        padding: 0 10px;
    }
}
