.dashboard-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.sidenav{
    width: 210px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.content{
    background: #F6F6F6 0% 0% no-repeat padding-box;
    padding: 10px 20px;
}
