<mat-sidenav-container class="dashboard-container">
  <mat-sidenav #sidenav opened mode="side" class="sidenav">
    <spc-side-bar></spc-side-bar>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
