.side-bar-container{
    .content{
        padding: 5px 15px;
    }
    .menu{
        margin: 10px;
        .mat-icon{
            color:var(--primary);
        }
    }
    .menu:hover{
        color: var(--primary-hover);
    }
    .active,.alert:hover{
        background-color: var(--primary-active);
    }
    .alert{
        padding: 10px;
        .danger{
            color:var(--danger);
        }
        .title{
            font-weight: bold;
        }
    }
    .user-img{
        width: 50px;
        height: 50px;
        border-radius: 35px;
    }
    .plant{
        background-color: var(--primary);
        color: var(--text-white);
        text-align: center;
        border-radius: 3px;
    }
    button{
        background-color: var(--grey3);
    }
   .activeMenu{background: #F6F6F6 0% 0% no-repeat padding-box;}
}