<div fxFlexFill fxLayout="column" fxLayoutGap="20px" class="side-bar-container">
  <div class="fz-25 content mt-10 mb-10"> {{'Base_Layout.Aptar' | translate}} </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="content">
    <div>
      <img src="assets/image/profile.jpg" class="user-img" />
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
      <div class="fz-14">John Doe</div>
      <div class="fz-10 plant">Pescara </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- Menu -->
  <div fxLayout="column">
    <div class="sub-title content"> {{('Base_Layout.Menu' | translate) | uppercase}} </div>
    <div>
      <div *ngFor="let item of menu" fxLayout="row" fxLayoutGap="20px" [ngClass]="{'activeMenu': !!currentRoute.match(appUrl+'/'+item.routing)}" fxLayoutAlign="start center" class="pointer menu"
        routerLink={{item.routing}}>
        <mat-icon class="fz-25">{{item.icon}}</mat-icon>
        <div class="fz-12"> {{item.title | translate}} </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- Alert -->
  <div fxLayout="column">
    <div class="sub-title content"> {{('Base_Layout.Alerts' | translate) | uppercase}} </div>
    <div>
      <div *ngFor="let item of alert" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center"
        class="pointer alert">
        <mat-icon class="fz-32 danger">circle_notifications</mat-icon>
        <div fxLayout="column" fxLayoutGap="2px">
          <div class="fz-12 title"> {{item.title | translate}} </div>
          <div class="fz-10">{{item.date | date:'dd/MM/yyyy hh:mm'}}</div>
        </div>
        <mat-icon class="fz-22">play_arrow</mat-icon>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button type="button" mat-raised-button color="accent">
        {{'Base_Layout.See_All_Alerts' | translate}}
      </button>
    </div>
  </div>
</div>
