<div fxLayout="column" fxFlexFill fxLayoutGap="20px" class="process-settings-container">
  <div class="fz-22 bold">{{'Process_Settings.Title' | translate}}</div>

  <div fxFlex>
    <mat-accordion>
      <!-- Parameters -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="headerHeight" [expandedHeight]="headerHeight">
          <mat-panel-title>
            <div class="fz-18">{{'Process_Settings.Parameters' | translate}}</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="pt-5 pb-5">
              <div>
                <button mat-icon-button>
                  <mat-icon> filter_list </mat-icon>
                </button>
              </div>
              <div>
                <button mat-raised-button color="primary" (click)="openNewParamPopup()">
                  {{'Process_Settings.New_Parameter' | translate}}
                </button>
              </div>
            </div>
            <div fxFlex class="neg-ml-22 neg-mr-22">
              <table mat-table [dataSource]="paramDataSource" class="full-width" fixedLayout="true">
                <ng-container *ngFor="let columnName of paramDisplayedColumns;" matColumnDef="{{columnName}}">
                  <th mat-header-cell *matHeaderCellDef>
                    {{'Process_Settings.'+(columnName | titlecase) | translate }} </th>
                  <td mat-cell *matCellDef="let element">
                    {{element[columnName]}}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="paramDisplayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: paramDisplayedColumns;"></tr>
              </table>
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>

      <!-- Combinations -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="headerHeight" [expandedHeight]="headerHeight" class="no-border-bottom">
          <mat-panel-title>
            <div class="fz-18">{{'Process_Settings.Combinations' | translate}}</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <spc-combination-table></spc-combination-table>
        </ng-template>
     </mat-expansion-panel>
      

      <!-- Approvals -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="headerHeight" [expandedHeight]="headerHeight">
          <mat-panel-title>
            <div class="fz-18">{{'Process_Settings.Approvals' | translate}}</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>

    
    

  </div>
</div>
