.process-settings-container{
    .mat-expansion-panel-header.mat-expanded{
        border-bottom: 1px solid var(--grey2);
        border-radius: 0;
    }
    .btn-param{
        background-color: var(--primary);
        color: var(--text-white);
    }
    table {
        th, td {
            text-align: center;
        }
        th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
            padding-left: 0;
        }
        th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
            padding-right: 0; 
        }
    }
}