<div>
    <h1 mat-dialog-title>{{'Process_Settings.New_Parameter' | translate}} </h1>
</div>

<mat-dialog-content>
    <div fxLayout="column">
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput type="text" placeholder="TagId">
              </mat-form-field>
        </div>
        <div class="fz-12 neg-pt-20">
            {{'Process_Settings.Tag_Not_Req' | translate}}
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <textarea matInput placeholder="Description"></textarea>
              </mat-form-field>
        </div> 
        <div fxLayout="row" fxLayoutGap="5px">
            <div fxFlex="50">
                <mat-form-field appearance="outline"  class="full-width">
                    <mat-select>
                      <mat-option value="Uom1">Uom1</mat-option>
                      <mat-option value="Uom2">Uom2</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field appearance="outline"  class="full-width">
                    <mat-select>
                      <mat-option value="Category">Category</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>  
        <div>
            <mat-form-field appearance="outline"  class="full-width">
                <mat-select>
                  <mat-option value="Cod. Approval1">Cod. Approval1</mat-option>
                  <mat-option value="Cod. Approval2">Cod. Approval2</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="5px">
            <div>{{'Process_Settings.Stdvalue' | translate}}</div>
            <div><mat-slide-toggle></mat-slide-toggle></div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <div fxFlex="50">
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput type="text" placeholder="LCL">
                  </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput type="text" placeholder="UCL">
                  </mat-form-field>
            </div>
        </div> 
        <div>
            <mat-form-field appearance="outline"  class="full-width">
                <mat-select>
                  <mat-option value="Alert Coefficient">Alert Coefficient</mat-option>
                </mat-select>
              </mat-form-field>
        </div> 
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="onCancel()">
        {{'Base_Layout.Buttons_Cancel' | translate}}
    </button>
   <button mat-raised-button color="primary" (click)="onSave()">
        {{'Base_Layout.Buttons_Save' | translate}}
    </button>
</mat-dialog-actions>