/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'assets/material-icon/materialicon.css';
@import 'assets/roboto.css';
@import '../../../projects/spc-lib/src/lib/assets/scss/variable.scss';

.spc {
  @import '../../../projects/spc-lib/src/lib/assets/scss/style.scss';
  @import '../../../projects/spc-lib/src/lib/assets/scss/custom.scss';
  @import '../../../projects/spc-lib/src/lib/assets/scss/theme.scss';

  font-family: "Roboto-Regular";

  //Css variable
  --primary: #559C8B;
  --primary-hover: #9F9F9F;
  --primary-active: #F6F6F6;
  --text-white:#FFFFFF;
  --grey1:#0000001A;
  --grey2:#DDDDDD;
  --grey3:#00000033;
  --danger: #FF4B4B;
}


$mat-primary: (
  main: #559C8B,
  lighter: #85cdbb,
  darker: #246d5e,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$mat-accent: (
  main: #cacaca,
  lighter: #fdfdfd,
  darker: #999999,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

$theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$lightTheme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
@include angular-material-theme($lightTheme);

// create custom typography
$custom-typography: mat-typography-config($font-family:'Roboto-Regular');
@include mat-core($custom-typography);
@include angular-material-typography($custom-typography);
