.revision-popup-container {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: #fff !important;
    }
    .mat-form-field {
        margin: 5px 0;
        font-size: 14px;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
    .mat-form-field-infix {
        padding: 0.8em 0 !important;
        width: auto !important;
    }
    .mat-error {
        font-size: 12px;
        position: relative;
        top: -5px;
    }
    .errorRadioGroup {
        padding: 1em 0.5em;
        border: 2px solid red;
        border-radius: 5px;
    }
    .background-light-grey {
        padding: 10px;
        border-radius: 5px;
        background-color: #F6F6F6;
        margin: 10px 0;
    }
    .pointsTableContainer{
        max-height: 200px;
        overflow: auto;
        th.mat-header-cell{
            background: #559C8B 0% 0% no-repeat padding-box;
            color: #fff;
        }
        th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: rgba(0, 0, 0, 0.12);
            text-align: center;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }
    .calcBox{
        background: #F6F6F6 0% 0% no-repeat padding-box;
        padding: 10px;
        border-radius: 3px;
    }
    .highlightLimit{
        background-color: #f00;
        color: #fff !important;
    }
}