<div fxLayout="column" fxFlexFill class="revision-popup-container">
    <div>
        <h1 class="bold" mat-dialog-title>{{'Process_Settings.Edit_Revision' | translate}} </h1>
    </div>

    <mat-dialog-content>
        <div fxLayout="column">
            <form [formGroup]="formGroup">
                <div *ngIf="first">
                    <div fxLayout="column" fxLayoutGap="5px" class="mt-10 mb-10">
                        <label class="fz-18">{{'Process_Settings.Spc_Status' | translate}}</label>
                        <div>
                            <mat-slide-toggle formControlName="spcStatus"></mat-slide-toggle>
                        </div>
                    </div>
                    <div class="" fxLayout="column">
                        <label class="fz-18 mb-10">{{'Process_Settings.Specification_Limit' | translate}}</label>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <div>
                                <mat-form-field class="full-width">
                                    <mat-label>{{'Process_Settings.Stdvalue' | translate}}</mat-label>
                                    <input matInput formControlName="stdValue" />
                                </mat-form-field>
                                <mat-error
                                    *ngIf="formGroup.get('stdValue')?.invalid && formGroup.get('stdValue')?.touched">
                                    {{'Process_Settings.Required_Field' | translate}}</mat-error>
                            </div>
                            <div>
                                <mat-form-field class="full-width">
                                    <mat-label>{{'Process_Settings.Lsl' | translate}}</mat-label>
                                    <input matInput formControlName="lsl" />
                                </mat-form-field>
                                <mat-error *ngIf="formGroup.get('lsl')?.invalid && formGroup.get('lsl')?.touched">
                                    {{'Process_Settings.Required_Field' | translate}}</mat-error>
                            </div>
                            <div>
                                <mat-form-field class="full-width">
                                    <mat-label>{{'Process_Settings.Usl' | translate}}</mat-label>
                                    <input matInput formControlName="usl" />
                                </mat-form-field>
                                <mat-error *ngIf="formGroup.get('usl')?.invalid && formGroup.get('usl')?.touched">
                                    {{'Process_Settings.Required_Field' | translate}}</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5" fxLayout="column">
                        <label class="fz-18 pb-10">{{'Process_Settings.Select_Control_Chart' | translate}}</label>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <div fxFlex>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>ControlChartType</mat-label>
                                    <mat-select formControlName="controlChartId"
                                        (selectionChange)="onSelectControlChart($event.value)">
                                        <mat-option *ngFor="let controlChart of controlChartAll"
                                            [value]="controlChart.id">
                                            {{controlChart.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="formGroup.get('controlChartId')?.invalid && formGroup.get('controlChartId')?.touched">
                                    {{'Process_Settings.Required_Field' | translate}}</mat-error>
                            </div>
                            <div fxFlex>
                                <mat-form-field class="full-width"
                                    [ngStyle]="{'border-color': (errorSubgroupSize !== '') ? 'red' : ''}">
                                    <mat-label>{{'Process_Settings.Subgroup_Size' | translate}}</mat-label>
                                    <input matInput type="number" formControlName="subgroupSize" />
                                </mat-form-field>
                                <mat-error *ngIf="formGroup.get('subgroupSize')?.invalid">{{errorSubgroupSize}}
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10">
                        <label class="fz-18">{{'Process_Settings.Which_Graph_Enable' | translate}}</label>
                        <div class="full-width mt-15 mb-15">
                            <mat-radio-group required appearance="outline" formControlName="graphId">
                                <div fxLayout="row" [ngClass]="radioButtonError ? 'errorRadioGroup' : ''">
                                    <span *ngFor="let graph of graphAll">{{graph.description | uppercase}}
                                        <mat-radio-button [value]="graph.id" class="ml-5 mr-22" color="primary">
                                        </mat-radio-button>
                                    </span>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>

                <div *ngIf="!first">
                    <div *ngIf="chosenGraph.length !== 0">
                        <div class="full-width">
                            <div class="pb-16">
                                <label class="fz-18 ">{{'Process_Settings.Set_StdValue_Criteria' |
                                    translate}}</label>
                            </div>
                            <mat-radio-group required appearance="outline" formControlName="calculationType" (change)="onSelectManualCriteria($event)">
                                <div fxLayout="row" [ngClass]="radioButtonError ? 'errorRadioGroup' : ''">
                                    <span>Manual
                                        <mat-radio-button value="manual" class="ml-5 mr-22" color="primary">
                                        </mat-radio-button>
                                    </span>
                                    <span>Automatic
                                        <mat-radio-button value="automatic" class="ml-5 mr-22" color="primary">
                                        </mat-radio-button>
                                    </span>
                                    <span>Upload
                                        <mat-radio-button value="upload" class="ml-5 mr-22" color="primary">
                                        </mat-radio-button>
                                    </span>
                                </div>
                            </mat-radio-group>
                            <div class="showCalculationTypeField">
                                <div *ngIf="formGroup.get('calculationType')?.value == 'upload'" class="mt-20">
                                    <button type="button" color="primary" [(files)]="revisionFile" mat-raised-button ngfSelect
                                        (filesChange)="uploadRevsionData($event)">Upload File</button>
                                </div>
                                <div *ngIf="formGroup.get('calculationType')?.value == 'automatic'" class="mt-10">
                                    <div class="fz-14 pt-10 pb-10">
                                        {{'Process_Settings.Values_Calcalate_Automatic' | translate}}
                                    </div>
                                    <mat-form-field class="full-width">
                                        <mat-label>{{'Process_Settings.Points' | translate}}</mat-label>
                                        <input type="text" matInput formControlName="points">
                                    </mat-form-field>
                                    <mat-error
                                        *ngIf="formGroup.get('points')?.invalid && formGroup.get('points')?.touched">
                                        {{'Process_Settings.Value_Greater_0' | translate}}</mat-error>
                                </div>
                            </div>
                        </div>
                        <mat-tab-group (selectedTabChange)="onGraphTabChanged($event);" [selectedIndex]="selectedRevisionTabIndex">
                            <div *ngFor="let chosen of chosenGraph; index as i">
                                <mat-tab label="{{chosen.description | uppercase}}" >
                                    <ng-template matTabContent>
                                        <div class="mt-22 mb-10">
                                            <!-- <mat-radio-group formControlName="setStdValue{{i}}" appearance="outline"
                                                (change)="onSelectManualCriteria($event, i)"> -->
                                            <div class="fz-16 background-light-grey"
                                                *ngIf="formGroup.get('calculationType')?.value == 'manual'">
                                                <!-- <mat-radio-button [value]="'manual'+i" color="primary">
                                                    </mat-radio-button>{{'Process_Settings.Manual' | translate}} -->
                                                <div fxLayout="row">
                                                    <div fxLayout="column">
                                                        <mat-form-field class="mr-5">
                                                            <mat-label>{{'Process_Settings.Stdvalue' | translate}}
                                                            </mat-label>
                                                            <input matInput formControlName="setStdValue{{chosen.id}}">
                                                            <!-- <ng-template #notManualStdValue><input matInput
                                                                        [disabled]="true"></ng-template> -->
                                                        </mat-form-field>
                                                        <mat-error
                                                            *ngIf="formGroup.get('setStdValue'+chosen.id)?.invalid && formGroup.get('setStdValue'+chosen.id)?.touched">
                                                            {{'Process_Settings.Required_Field' | translate}}
                                                        </mat-error>
                                                    </div>
                                                    <div fxLayout="column">
                                                        <mat-form-field class="ml-5 mr-5">
                                                            <mat-label>{{'Process_Settings.Lcl' | translate}}
                                                            </mat-label>
                                                            <input matInput formControlName="lcl{{chosen.id}}">
                                                            <!-- <ng-template #notManualLcl><input matInput
                                                                        [disabled]="true"></ng-template> -->
                                                        </mat-form-field>
                                                        <mat-error
                                                            *ngIf="formGroup.get('lcl'+chosen.id)?.invalid && formGroup.get('lcl'+chosen.id)?.touched">
                                                            {{'Process_Settings.Required_Field' | translate}}
                                                        </mat-error>
                                                    </div>
                                                    <div fxLayout="column">
                                                        <mat-form-field class="ml-5">
                                                            <mat-label>{{'Process_Settings.Ucl' | translate}}
                                                            </mat-label>
                                                            <input matInput formControlName="ucl{{chosen.id}}">
                                                            <!-- <ng-template #notManualUcl><input matInput
                                                                        [disabled]="true"></ng-template> -->
                                                        </mat-form-field>
                                                        <mat-error
                                                            *ngIf="formGroup.get('ucl'+chosen.id)?.invalid && formGroup.get('ucl'+chosen.id)?.touched">
                                                            {{'Process_Settings.Required_Field' | translate}}
                                                        </mat-error>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="background-light-grey">
                                                    <div class="fz-16">
                                                        <mat-radio-button [value]="'automatic'+i" color="primary">
                                                        </mat-radio-button>{{'Process_Settings.Automatic' | translate}}
                                                    </div>
                                                    <div class="fz-14 pt-10 pb-10">
                                                        {{'Process_Settings.Values_Calcalate_Automatic' | translate}}
                                                    </div>
                                                    <mat-form-field class="full-width"
                                                        *ngIf="formGroup.get('setStdValue'+i)?.value == 'automatic'+i">
                                                        <mat-label>{{'Process_Settings.Points' | translate}}</mat-label>
                                                        <input matInput formControlName="automaticPoints{{i}}">
                                                    </mat-form-field>
                                                    <mat-error
                                                        *ngIf="formGroup.get('automaticPoints'+i)?.invalid && formGroup.get('automaticPoints'+i)?.touched">
                                                        {{'Process_Settings.Value_Greater_0' | translate}}</mat-error>
                                                </div> -->
                                            <div class="fz-16"
                                                *ngIf="formGroup.get('calculationType')?.value == 'upload'">
                                                <!-- <div class="background-light-grey">
                                                        <mat-radio-button [value]="'fileUpload'+i" color="primary"
                                                            ngfSelect (filesChange)="uploadRevsionData($event)">
                                                        </mat-radio-button>{{'Process_Settings.File_Upload' |
                                                        translate}}
                                                    </div> -->
                                                <div fxFlex fxLayout="row">
                                                    <div fxFlex="50" class="pointsTableContainer"
                                                        *ngIf="pointsDataSource?.data?.length">
                                                        <table mat-table [dataSource]="pointsDataSource"
                                                            class="full-width">
                                                            <ng-container matColumnDef="point">
                                                                <th mat-header-cell *matHeaderCellDef>
                                                                    {{'Process_Settings.Point' | translate}} </th>
                                                                <td mat-cell *matCellDef="let element;let i= index">
                                                                    {{i}} </td>
                                                            </ng-container>
                                                            <ng-container matColumnDef="value">
                                                                <th mat-header-cell *matHeaderCellDef>
                                                                    {{'Process_Settings.Value' | translate}} </th>
                                                                <td mat-cell *matCellDef="let element"
                                                                    [ngClass]="{'highlightLimit' : element.controlLimitStatus}">
                                                                    {{element.value}} </td>
                                                            </ng-container>
                                                            <tr mat-header-row
                                                                *matHeaderRowDef="pointsDisplayedColumns; sticky: true">
                                                            </tr>
                                                            <tr mat-row
                                                                *matRowDef="let row; columns: pointsDisplayedColumns;">
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div fxFlex fxLayout="column" fxLayoutGap="10px" class="m-10 mt-0">
                                                        <div fxLayout="column" fxLayoutGap="15px" class="calcBox"
                                                            *ngIf="excelId">
                                                            <div fxLayoutAlign="space-between center"><span>Lower
                                                                    control limit
                                                                </span><span>{{uploadExcelResponse['lowerControLimit'+chosen.description.toUpperCase()][2]
                                                                    }}</span></div>
                                                            <div fxLayoutAlign="space-between center"><span>Standard
                                                                    limit
                                                                </span><span>{{uploadExcelResponse['mean'+chosen.description.toUpperCase()]}}</span>
                                                            </div>
                                                            <div fxLayoutAlign="space-between center"><span>Upper
                                                                    control limit
                                                                </span><span>{{uploadExcelResponse['upperControlLimit'+chosen.description.toUpperCase()][2]}}</span>
                                                            </div>
                                                        </div>
                                                        <div fxLayout="column" fxLayoutGap="15px" class="calcBox"
                                                            *ngIf="!excelId && formGroup.get('lcl'+chosen.id)?.value">
                                                            <div fxLayoutAlign="space-between center"><span>Lower
                                                                    control limit
                                                                </span><span>{{formGroup.get('lcl'+chosen.id)?.value}}</span>
                                                            </div>
                                                            <div fxLayoutAlign="space-between center"><span>Standard
                                                                    limit
                                                                </span><span>{{formGroup.get('setStdValue'+chosen.id)?.value}}</span>
                                                            </div>
                                                            <div fxLayoutAlign="space-between center"><span>Upper
                                                                    control limit
                                                                </span><span>{{formGroup.get('ucl'+chosen.id)?.value}}</span>
                                                            </div>
                                                        </div>
                                                        <div fxLayout="row" fxLayoutAlign="end center"
                                                            *ngIf="pointsDataSource?.data?.length">
                                                            <button type="button" color="primary" mat-raised-button
                                                                (click)="recalculate(chosen)">Recalc. Limits</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- </mat-radio-group> -->
                                        </div>
                                        <div class="mt-10">
                                            <label class="fz-18">{{'Process_Settings.Set_Alert_Rules' |
                                                translate}}</label>
                                            <mat-form-field appearance="outline" class="full-width mt-10">
                                                <mat-label>{{'Base_Layout.Alerts' | translate}}</mat-label>
                                                <mat-select multiple formControlName="spcRules{{chosen.id}}">
                                                    <mat-option *ngFor="let spcRule of spcRuleAll" [value]="spcRule.id">
                                                        {{spcRule.description}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error
                                                *ngIf="formGroup.get('spcRules'+chosen.id)?.invalid && formGroup.get('spcRules'+chosen.id)?.touched">
                                                {{'Process_Settings.Required_Field' | translate}}</mat-error>
                                        </div>
                                    </ng-template>
                                </mat-tab>
                            </div>
                        </mat-tab-group>
                    </div>

                </div>
            </form>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <div *ngIf="first">
            <button type="button" mat-raised-button color="accent" (click)="onCancel()">
                {{'Base_Layout.Buttons_Cancel' | translate}}
            </button>
            <button type="button" mat-raised-button color="primary" (click)="onNext()">
                {{'Base_Layout.Buttons_Next' | translate}}
            </button>
        </div>
        <div *ngIf="!first">
            <button type="button" mat-raised-button color="accent" (click)="onBack()">
                {{'Base_Layout.Buttons_Back' | translate}}
            </button>
            <button type="button" mat-raised-button color="primary" (click)="onSave()">
                {{'Base_Layout.Buttons_Save' | translate}}
            </button>
        </div>
    </mat-dialog-actions>
</div>