.mat-divider {
  border-top-color: var(--primary) !important;
}

// mat expansion panel starts
.mat-expansion-panel {
  box-shadow: 0px 4px 10px var(--grey1) !important;
  border-radius: 4px !important;
  margin-top: 20px !important;
  border: none;
}
.mat-expansion-panel-spacing {
  margin-bottom: 20px;
}
// mat expansion panel ends

//mat table starts
th.mat-header-cell {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.12);
}
.mat-row,.mat-header-row {
    height: 40px;
}
//mat table ends
.mat-expansion-panel-body{
  padding: 0px;
}
/* mat slider starts*/
.mat-slide-toggle.mat-checked{
  .mat-slide-toggle-bar {
    background-color:var(--primary) !important;
  }
} 
.mat-slide-toggle{
  .mat-slide-toggle-thumb {
    background-color: var(--text-white) !important;
  }

}

.combinations-reference-container {
  .mat-tab-group,.mat-tab-body-wrapper{
    height: 100%;
  }
  .revisionHistory{
    mat-accordion,.mat-expansion-panel-content{
      height: 100%;
    }
    .mat-expansion-panel-body{
      height: calc(100% - 50px);
    }
   .mat-expansion-panel.mat-expansion-panel.mat-expanded.mat-expansion-panel-spacing{
      height: calc(100% - 110px);
    }
  }
  
}

.mat-snack-bar-container{
  background-color: #f00;
  color: #fff;
}

/* mat slider ends*/

//input control end
