$spaceamounts: (0, 2, 5, 10, 15, 16, 20,22, 25, 30, 45, 50, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

@each $space in $spaceamounts {
  @each $side in $sides {
    .neg-m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: -#{$space}px !important;
    }

    .neg-p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: -#{$space}px !important;
    }
  }
}

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}px;
  }

  .p-#{$space} {
    padding: #{$space}px;
  }
}

@each $space in $spaceamounts {
  .neg-m-#{$space} {
    margin: -#{$space}px;
  }

  .neg-p-#{$space} {
    padding: -#{$space}px;
  }
}

$fontSizes: (10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 30, 32, 35, 40, 45, 50); // Adjust this to include the pixel amounts you need.

@each $size in $fontSizes {
  .fz-#{$size} {
    font-size: #{$size}px !important;
  }
}

$wh: (20, 30, 50, 70, 80, 90, 100, 120, 130, 150, 200, 250, 300, 400, 450, 600, 700); // Adjust this to include the pixel amounts you need.

@each $size in $wh {
  .w-#{$size}px {
    width: #{$size}px !important;
  }

  .h-#{$size}px {
    height: #{$size}px !important;
  }
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.backdrop-margin {
  margin-left: 210px;
  background-color: rgba(0, 0, 0, .32);
}

.pointer{
  cursor: pointer;
}

.flt{float: left;}
.oAuto{overflow: auto;}
