<div fxLayout="column" fxFlexFill class="combinations-reference-container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="cr-header">
            <div class="fz-22 bold" fxLayoutAlign="center center">
                <mat-icon class="pr-10 pointer" (click)="showProcessSettingsView()">keyboard_backspace</mat-icon>
                <span>{{'Process_Settings.Title' | translate}}</span>
            </div>
        </div>
        <!-- <div>
            <button type="button" mat-raised-button color="primary">New Revision</button>
        </div> -->
    </div>
    <div fxLayout="column" class="mt-30">
        <mat-card>
            <div fxLayout="column">
                <div class="fz-18 bold">
                    <span>{{'Combinations' | translate}}</span>
                </div>
                <div class="combinationsDetailsTableHeader mt-15" fxLayout="row" fxLayoutAlign="start center">
                    <div *ngFor="let columnName of combination.attributes;" fxFlex="20" class="mat-header-cell">
                        <span>{{(columnName == 'machine') ? ('Process_Settings.'+(columnName | titlecase) | translate) : (columnName | titlecase)}}
                        </span>
                    </div>
                </div>
                <div class="combinationsDetailsTableRow mt-10" fxLayoutAlign="start center" fxLayout="row" *ngIf="combination.combinationResponse.length > 0">
                    <div *ngFor="let columnValue of combination.attributes" fxFlex="20" class="mat-cell">
                        <span>{{combination?.combinationResponse[0][columnValue]}}</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="mt-20" fxFlex fxLayout="column">
        <mat-tab-group (selectedTabChange)="onChangeTab($event)">
            <mat-tab label="Current Revision">
                <ng-template matTabContent >
                    <div fxFlex >
                        <div class="mat-expansion-panel mb-20" fxFlex fxLayout="column">
                            <div fxLayout="row">
                                <mat-panel-title>
                                    <div class="fz-18 bold ml-22 mt-22">{{revisionActive.revision}}</div>
                                </mat-panel-title>
                            </div>
                            <div fxFlex>
                                <spc-revision-table *ngIf="revisionActive?.revisionParam" [revision]="revisionActive" [isActivate]="false" (updateRevisionTable)="onUpdateRevisionTable()"></spc-revision-table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Revision History">
                <ng-template matTabContent >
                    <div fxFlex fxLayout="column" class="revisionHistory">
                        <mat-accordion>
                                <mat-expansion-panel (opened)="onOpenPanel(revisions)" *ngFor="let revisions of revisionAll; index as i">
                                    <mat-expansion-panel-header [collapsedHeight]="headerHeight" [expandedHeight]="headerHeight">
                                        <mat-panel-title>
                                            <div class="fz-18 bold">Revision{{revisions.revision}}</div>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <!-- <ng-template matExpansionPanelContent> -->
                                        <div fxFlex><spc-revision-table *ngIf="revision?.revisionParam" [revision]="revision" [isActivate]="!revision.active" (updateRevisionTable)="onUpdateRevisionTable()" (updateRevisionActivated)="onRevisionActivated($event)"></spc-revision-table></div>
                                    <!-- </ng-template> -->
                                </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>