.combinations-reference-container {
    .mat-expansion-panel-header.mat-expanded{
        border-bottom: 1px solid var(--grey2);
        border-radius: 0;
    }
    .mat-expansion-panel-body {
        padding: 0 !important;
    }
    
}