$dark-color: #474747;
$text-white: #FFFFFF;

.revision-container {
    .revisionTable {
        .mat-header-cell:first-of-type, .mat-cell:first-of-type, .mat-footer-cell:first-of-type {
            padding-left: 0 !important;
        }
        .mat-header-cell:last-of-type, .mat-cell:last-of-type, .mat-footer-cell:last-of-type {
            padding-right: 0 !important; 
        }
        .mat-header-cell, .mat-cell {
            border-top-color: transparent;
            text-align: center !important;
        }
        .mat-cell {
            padding: 0 5px;
            width:  calc(100vh * 1.3);
            overflow-y: hidden;
            vertical-align: initial;
        }
    }
    .btn-revision {
        font-size: 10px;
        line-height: 23px;
        padding: 0 10px;
        margin: 5px;
    }
    .color-btn-revision {
        color: $text-white;
        background-color: $dark-color;
    }
    .actionButtons{
        display: flex;
        justify-content: center;
    }
}
