
<div fxLayout="column" fxFlexFill class="revision-container">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="pt-10 pb-10 ml-22 mr-22">
        <div fxLayout="row" class="fz-12">
            <div fxLayout="column" *ngFor="let element of revision | keyvalue">
                <div *ngIf="element.key == 'createdBy' || element.key == 'createdOn' || element.key == 'reason'">
                    <div *ngIf="element.value !== null">
                        <div fxLayout="row" class="mat-header-cell pt-5 pb-5 pr-30">
                            {{ 'Process_Settings.'+(element.key | titlecase) | translate }}
                        </div>
                        <div fxLayout="row" class="pt-5 pb-5 pr-30">
                            {{ element.value }}
                        </div>
                    </div>
                </div>                  
            </div>
        </div>
        <div *ngIf="isActivate" class="ml-auto">
            <button mat-raised-button color="primary" (click)="onClickRevisionActivate(revision.combinationRevisionId)">
                {{'Process_Settings.Activate' | translate}}
            </button>
        </div>
    </div>
    <div fxFlex class="oAuto revisionTable">
        <table mat-table [dataSource]="revisionDataSource" class="full-width">
            <ng-container matColumnDef="processVariable">
                <th mat-header-cell *matHeaderCellDef>  {{ 'Process_Settings.Processvariable' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.parameterName}} </td>
            </ng-container>
            <ng-container matColumnDef="uom">
                <th mat-header-cell *matHeaderCellDef>  {{'Process_Settings.Uom' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.revisionParamDetails.uom}} </td>
            </ng-container>
            <ng-container matColumnDef="stdValue">
                <th mat-header-cell *matHeaderCellDef>  {{'Process_Settings.Stdvalue' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.revisionParamDetails.stdValue}} </td>
            </ng-container>
            <ng-container matColumnDef="lsl">
                <th mat-header-cell *matHeaderCellDef>  {{'Process_Settings.Lsl' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.revisionParamDetails.lsl}} </td>
            </ng-container>
            <ng-container matColumnDef="usl">
                <th mat-header-cell *matHeaderCellDef>  {{'Process_Settings.Usl' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.revisionParamDetails.usl}} </td>
            </ng-container>
            <ng-container matColumnDef="controlType">
                <th mat-header-cell *matHeaderCellDef>  {{'Process_Settings.Controltype' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.controlChartTypeName}} </td>
            </ng-container>
            <ng-container matColumnDef="graph">
                <th mat-header-cell *matHeaderCellDef>  {{'Process_Settings.Graph' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.graphName}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>  {{'Process_Settings.Action' | translate}} </th>
                <td mat-cell *matCellDef="let element" class="w-250px">
                    <div class="actionButtons">
                        <button type="button" mat-raised-button class="btn-revision color-btn-revision" (click)="openRevisionPopup(element.revisionParamId)">
                            {{'Process_Settings.Edit' | translate}}
                        </button>
                    </div>
                </td>
            </ng-container>
            <!-- <ng-container *ngFor="let columnName of revisionDisplayedColumns;" matColumnDef="{{columnName}}">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'Process_Settings.'+(columnName | titlecase) | translate }} </th>
            <td mat-cell *matCellDef="let element" [ngClass] = "columnName == 'action' ? 'w-250px' : ''">
                <div *ngIf="columnName != 'action'"><span>{{element[columnName]}}</span></div>
                <div *ngIf="columnName == 'action'" class="actionButtons">
                    <button type="button" mat-raised-button class="btn-revision color-btn-revision" (click)="openRevisionPopup(element.revisionParamId)">
                        {{'Process_Settings.Edit' | translate}}
                    </button>
                </div>
            </td>
            </ng-container> -->
            <tr mat-header-row *matHeaderRowDef="revisionDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: revisionDisplayedColumns;"></tr>
        </table>
    </div> 
</div>  

